.pageR{
	display: flex;
	flex-direction: column;
	.title{
		background-color: #3f51b5;
      	border-radius: 15px 15px;
      	padding: 0 15px;
      	color: white;
      	margin-top: 15px;
	}
.newCard{
	height:55vh;
	width: 50%;

.cardR{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	h1{
		font-size: 30px;
	}
}
}
}

@media (max-width: 868px){

	}