.homepage{

	.container{
	background-image: url('../assets/chatB.jpg');
		
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 35px;

		.item{
			display: flex;
			justify-content: center;
			.img1{
				height: 300px;
			}
			.img{
				height: 300px;
			}

			.content{

				.header{
					display: flex;
					align-items: center;

					.status{

						display: flex;
						flex-direction: column;
					}
					.icon{
						display: flex;
						justify-content: flex-end;
						width: 70%;
						
					}
				}
			}

			.textMessage{
				height: 60%;
				overflow: auto;
			}

			  
			.form {
			  display: flex;
			  border-top: 2px solid #D3D3D3;
			  width: 100%;
			  

			  .input {
			  	padding-top: 25px;
			  	padding-left: 15px;
			  border: none;
			  border-radius: 0;
			  
			  width: 80%;
			  font-size: 1.2rem;
			}

			input:focus, textarea:focus, select:focus{
			  outline: none;
			}

			.button{
				margin-top: 15px;
				margin-left: 15px;
			}
			}


		}
	}
}

@media (max-width: 868px){
.homepage{

	.container{
		height: 100vh;

		.item{

			.img1{
				display: none;
			}

				
				.textMessage{
					height: 65%;
					
				
			}
		}
	}
}
}