.landing{
	margin-top: 10px;

	.cardC{
		background-image: url('../../assets/chatB.jpg');
		display: flex;
		flex-direction: column;
		align-items: center;


	.cardLanding{
		width: 70vw;
		height:80vh;
		text-align: center;
		border: 3px solid #D3D3D3;
		background-color: white;
		

		.text{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			
			
			.img{
				height: 130px;
			}
		}

		.text1{
			
			
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.containerL{
			display: flex;
			flex-direction: row;
		}
	}
}
}

@media (max-width: 868px){
.landing{
	
	.cardC{
	display: flex;
		flex-direction: column;
		align-items: center;

	.cardLanding{
		width: 90%;
		text-align: center;
		display: flex;
		flex-direction: column;
		

		.text{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0 50px;
			
			.img{
				height: 150px;
			}

			h3{
				display: flex;
				flex-wrap: wrap;
			}
		}

		.button{
			margin-top: 19px;
		}

		

		.containerL{
			display: none;
		}
	}
}
}

	}