.cardNew{
	.form{
		
	}
}

@media (max-width: 868px){
	.cardNew{
		height: 85vh !important;
		.content{
			font-size: 15px !important;
			.header{
				.status{
					display: flex;
					flex-direction: column;
				}
			}
		}
	.form{
		
	}
}


	}